.container {
    background-color: #E3ECF1;
  }
  .sidebar {
    background-color: #E3ECF1;
    border-right: 4px solid #202020;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 1s ease;
    color: #202020;
    height: 100%;
    z-index: 99;
  }
  .button {
    position: relative;
    left: 285px; 
    top: 30%;
    width: 80px;
    height: 320px;
    z-index: 99;
    transition: 0.8s ease;
    border: 2px solid #202020;
    border-radius: 40px;
    overflow: hidden;
  }
  .openBtn {
    width: 90px;
    height: 90px;
    position: relative;
  }
  .content {
    padding: 40px 40px 0 20px;
    position: relative;
    width: 100%;
  }
  .icon {
    margin: 0;
    color: #202020;
  }